<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SalesConfigurationServices.BusinessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SalesConfigurationServices.BusinessLayer.Properties.Settings>
            <setting name="JiniServiceUrl" serializeAs="String">
                <value>http://dev-jiniservices.gyldendal.local/api/</value>
            </setting>
            <setting name="IsPublished" serializeAs="String">
                <value>v1/SalesConfiguration/Exists/</value>
            </setting>
            <setting name="Seller" serializeAs="String">
                <value>Gyldendal Uddannelse</value>
            </setting>
            <setting name="GetConfiguration" serializeAs="String">
                <value>v1/SalesConfiguration/Get/</value>
            </setting>
            <setting name="UniCServiceUrl" serializeAs="String">
                <value>https://test-gyldendalaccessservice.gyldendal.dk/api/</value>
            </setting>
            <setting name="UniCStudentCount" serializeAs="String">
                <value>v1/Unic/Institution/Students/Count/</value>
            </setting>
            <setting name="UniCClass" serializeAs="String">
                <value>v1/Unic/Institution/Classes/</value>
            </setting>
        </SalesConfigurationServices.BusinessLayer.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
