<section class="block padded">
    <span class="access-label">Andet salg</span>

    <h1>Hvordan skal ‘Andet salg’ udstilles på shoppen?</h1>
    <p class="jini-msg error std-len" ng-show="Validations.indexOf('tab2:contactsales') != -1"><img src="~/img/icon-cross.png" /> Ups… du mangler at udfylde noget her!</p>
    <textarea kendo-editor class="k-textbox contact-sales-desc std-len" k-tools="tools" k-resizeable="resizeable" k-paste="paste" id="contact-sales-desc" k-ng-model="ContactSales.DescriptionText" k-change="kendoEditorChange" rows="5"></textarea>
</section>