<h4>Priser for klasseadgang</h4>
<dl class="config-summary">
    <dt>Fakturering</dt>
    <dd>{{accessType.PriceModels[0]['DisplayName']}}</dd>
    
    <dt></dt>
    <dd>
        <select ng-model="SelectedClasses.Classes" 
                ng-options="class.Name for class in accessType.PriceModels[0].Classes" 
                ng-multiple="true" multiple>
        </select>
       
    </dd>
    <dd class="full">
        <table>
            <thead>
                <tr>
                    <th>Periode</th>
                    <th class="price">Pris (eksl. moms)</th>
                    <th class="price">Pris (inkl. moms)</th>
                    <th class="price">Calculated</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="period in accessType.BillingPeriods">
                    <td>{{period["DisplayName"]}}</td>
                    <td class="price">{{period.Price.UnitPrice}} DKK </td>
                    <td class="price">{{period.Price.UnitPriceVat}} DKK</td>
                    <td class="price">{{period.Price.CalculatedPrice}} DKK</td>
                </tr>
            </tbody>
        </table>
    </dd>

</dl>
