<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--nLog related keys-->
    <add key="DbConnectionString" value="#{DbConnectionString}#" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MailExToInfra" value="#{MailExToInfra}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LogName" value="#{LogName}#" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SourceName" value="Jini #{SourceName}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LogInfo" value="#{LogInfo}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--nLog related keys-->
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <applicationSettings>
    <SalesConfigurationServices.Properties.Settings>
      <setting name="JiniServiceUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>#{JiniServiceUrl}#</value>
      </setting>
      <setting name="Seller" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>Gyldendal Uddannelse</value>
      </setting>
      <setting name="UniCServiceUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>#{UniCServiceUrl}#</value>
      </setting>
      <setting name="GasApiKey" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>f09ae499-8628-4655-9a5b-aaa3c1e35735</value>
      </setting>
    </SalesConfigurationServices.Properties.Settings>
  </applicationSettings>
</configuration>