<section class="block padded">
    <span class="access-label">Friteksfelt</span>

    <h1>Hvordan skal ‘Andet salg’ udstilles på shoppen?</h1>
    <p class="jini-msg error std-len" ng-show="jiniData.Validations.indexOf('tab2:contactsales') != -1"><img src="~/img/icon-cross.png"/> Ups… du mangler at udfylde noget her!
    </p>
    <createlink ng-model="jiniData.ContactSales.DescriptionText"></createlink>
</section>
