<section class="jini-popup" id="review-price-info-popup">
    <div class="jini-popup-content review-price-info-popup-content">
        <p>Kontroller om infoteksten for denne adgangstype er fyldestgørende; det vil f.eks. sige om der er angivet hvilke klassetrin prisen beregnes på baggrund af etc.</p>
        <textarea class="k-textbox" rows="12">
            Abonnementsvilkår
            Nedenstående vilkår gælder generelt for de forskellige typer af abonnementer Gyldendal Uddannelse sælger.

            Levering
            Hvis intet andet er angivet, så gælder abonnementet fra købsdato og et år frem.
            Du kan læse nærmere om vilkår forbundet med digitale produkter her.

            Betaling
            Opkrævning sker ved udsendelse af faktura. Betaling skal ske senest på sidste, rettidige indbetalingsdag. Ved gentegning af abonnement udsender Gyldendal Uddannelse opkrævning for den aftalte ydelse, hvilket sker forud for den periode, betalingen omhandler.
        </textarea>
    </div>
    <div class="jini-popup-buttons-pane">
        <button class="jini-btn standout" ng-click="">Gem</button>
        <button class="jini-btn" ng-click="$(this).destroy();">Annuller</button>
    </div>
     
</section>