
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <b>Sales Configuration Services</b><br/>
    Version - @ViewContext.Controller.GetType().Assembly.GetName().Version
</div>
