@{
    Layout = "";
}

<ul class="wizard-progress" ng-show="jiniData.HasTrial">
    <li class="complete">Grundopsætning <span class="num"></span></li>
    <li class="complete">Salgsformer <span class="num"></span></li>
    <li class="complete">Prøveadgang <span class="num"></span></li>
    <li class="current">Godkend <span class="num"></span></li>
</ul>

<ul class="wizard-progress" ng-hide="jiniData.HasTrial">
    <li class="complete">Grundopsætning <span class="num"></span></li>
    <li class="complete">Salgsformer <span class="num"></span></li>
    <li class="current">Godkend <span class="num"></span></li>
</ul>
