
<h1>Priser for underviseradgang</h1>
<dl class="config-summary">
    <dt>Fakturering</dt>
    <dd>{{TeacherLicense.BillingModel['DisplayName']}}</dd>
    
    <dd class="full">
        <table>
            <thead>
                <tr>
                    <th>Periode</th>
                    <th class="price">Pris (eksl. moms)</th>
                    <th class="price">Pris (inkl. moms)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="period in Periods">
                    <td>{{period["DisplayName"]}}</td>
                    <td class="price">{{TeacherLicense.Pricing[period['UnitValue']+' '+period['RefPeriodUnitTypeCode']].ExTax}} DKK</td>
                    <td class="price">{{TeacherLicense.Pricing[period['UnitValue']+' '+period['RefPeriodUnitTypeCode']].IncTax}} DKK</td>
                </tr>
            </tbody>
        </table>
    </dd>
