<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--nLog related keys-->
  <appSettings>
    <add key="DbConnectionString" value="#{DbConnectionString}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailExToInfra" value="#{MailExToInfra}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LogName" value="#{LogName}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SourceName" value="#{SourceName}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LogInfo" value="#{LogInfo}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="RabbitMqLogHost" value="#{RabbitMqLogHost}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RabbitMqLogUser" value="#{RabbitMqLogUser}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RabbitMqLogUserPassword" value="#{RabbitMqLogUserPassword}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RabbitMqErrorFallbackLogDirectoryPath" value="#{RabbitMqErrorFallbackLogDirectoryPath}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnableDebugLog" value="#{EnableDebugLog}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--App settings-->
    <add key="JiniConnectionString" value="#{JiniConnectionString}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ActiveConfiguration" value="#{ActiveConfiguration}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="InactiveConfiguration" value="#{InactiveConfiguration}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CacheDuration" value="#{CacheDuration}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RapMetaServiceUrl" value="#{RapMetaServiceUrl}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GpmUrl" value="#{GpmUrl}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GpmApiKey" value="#{GpmApiKey}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HangfireJobCron" value="#{HangfireJobCron}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ServiceBusConnectionString" value="#{ServiceBusConnectionString}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TopicName" value="#{TopicName}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SubscriptionName" value="#{SubscriptionName}#" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <!--nLog related keys-->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
  </system.web>
  
</configuration>